@using EntityLayer.Concrete
@using Uretim_Takip.Dtos
@using System.ComponentModel
@using Newtonsoft.Json
@model CustomersViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Müşteri Listesi</h1>

@await Html.PartialAsync("_ScriptImports")


<div class="card">
    <div class="card-header">
        <h3 class="card-title">
            <i class="fas fa-cubes"></i>
            Firmalar
        </h3>
    </div>


    <div class="card-body">
        <button class="btn btn-primary" onclick="openYeniMusteriModal()">Yeni Müşteri</button>
        <br />

        <div id="customerTable" class="table-responsive">
            <table id="customerGrid" class="table table-bordered table-striped"></table>
        </div>

    </div>

</div>

<script>
    var firstModal = null;

    $(document).ready(function () {
        takeCustomerData();
    });

    function takeCustomerData() {
        var customerGrid = $('#customerGrid');

        if ($.fn.DataTable.isDataTable(customerGrid)) {
            customerGrid.DataTable().destroy();
            customerGrid.empty();
        }

        $.ajax({
            url: '/CustomerAdmin/GetCustomerData',
            type: 'GET',
            dataType: 'json',
            success: function (response) {
                var data = response.$values;
                console.log(data);
                $('#customerGrid').DataTable({
                    data: data,
                    columns: [
                        { data: 'id', title: 'ID', width: '4%' },
                        { data: 'name', title: 'Adı', width: '8%' },
                        { data: 'lastname', title: 'Soyadı', width: '8%' },
                        { data: 'phonenumber', title: 'Telefon No', width: '8%' },
                        { data: 'mail', title: 'E-Mail', width: '8%' },
                        {
                            data: 'status', title: 'Durum', width: '9%',
                            render: function (data) {
                                switch (data) {
                                    case 1:
                                        return 'AKTİF';
                                    case 2:
                                        return 'KALDIRILDI';
                                    default:
                                        return '';
                                }
                            }
                        },
                        { data: 'description', title: 'Açıklama', width: '8%' },
                        { data: 'password', title: 'Şifre', width: '8%' },
                        {
                            data: null, title: '', width: '33%',
                            render: function (data, type, row) {
                                return '<button class="btn btn-primary open-edit-modal" ' +
                                    'data-customerid="' + row.id + '" ' +
                                    'data-customername="' + row.name + '" ' +
                                    'data-customerlastname="' + row.lastname + '" ' +
                                    'data-customerphonenumber="' + row.phonenumber + '" ' +
                                    'data-customermail="' + row.mail + '" ' +
                                    'data-customerstatus="' + row.status + '" ' +
                                    'data-customerpassword="' + row.password + '" ' +
                                    'data-customerdescription="' + row.description + '" ' + '">Düzenle</button>' +
                                    '<button class="btn btn-success open-approve-modal" ' +
                                    'data-customerid="' + row.id + '" ' +
                                    'data-customerstatus="' + row.status + '">Onayla</button>' +
                                    '<button class="btn btn-warning open-delete-modal" ' +
                                    'data-customerid="' + row.id + '" ' +
                                    'data-customerstatus="' + row.status + '">Kaldır</button>';
                            }
                        }
                    ],
                    paging: true,
                    lengthMenu: [10, 20, 30, 40, 50],
                    order: [[0, 'desc']],
                    responsive: true,
                    autoWidth: true,
                    width: '100%'
                });



                console.log(data);
            },
            error: function (error) {
                console.log(error);
            }
        });
    }

    function openApproveMusteriModal(button) {
    var data = button.dataset;
        firstModal = $.dialog({
        title: 'Müşteri Onayla',
         content: `
            <!-- ${JSON.stringify(data)} -->
            <form method="post" action="@Url.Action("ApproveCustomer", "CustomerAdmin")">

                <div class="form-group">
                    <label>Onaylamak istiyor musunuz ?</label>
                </div>

                <div class="form-group">
                    <input type="text" id="ID" name="ID" class="form-control" value="${data.customerid}" required hidden />
                </div>

                <div class="form-group">
                    <input type="text" id="Status" name="Status" class="form-control" value="${data.customerstatus}" required hidden />
                </div>

                <div class="form-group">
                    <input type="submit" value="Onayla" class="btn btn-primary w-100" />
                </div>

            </form>
        `
    });
    }

    function openDeleteMusteriModal(button) {
    var data = button.dataset;
        firstModal = $.dialog({
        title: 'Müşteri Sil',
         content: `
            <!-- ${JSON.stringify(data)} -->
            <form method="post" action="@Url.Action("DeleteCustomer", "CustomerAdmin")">

                <div class="form-group">
                    <label>Kaldırmak istiyor musunuz ?</label>
                </div>

                <div class="form-group">
                    <input type="text" id="ID" name="ID" class="form-control" value="${data.customerid}" required hidden />
                </div>

                <div class="form-group">
                    <input type="text" id="Status" name="Status" class="form-control" value="${data.customerstatus}" required hidden />
                </div>

                <div class="form-group">
                    <input type="submit" value="Kaldır" class="btn btn-warning w-100" />
                </div>

            </form>
        `
    });
    }

    function openEditMusteriModal(button) {
    var data = button.dataset;
        firstModal = $.dialog({
        title: 'Müşteri Düzenle',
         content: `
            <!-- ${JSON.stringify(data)} -->
            <form method="post" action="@Url.Action("EditCustomer", "CustomerAdmin")">

                <div class="form-group">
                    <input type="text" id="ID" name="ID" class="form-control" value="${data.customerid}" required hidden />

                </div>

                <div class="form-group">
                    <label for="Name">Adı:</label>
                    <input type="text" id="Name" name="Name" class="form-control" value="${data.customername}" required />
                </div>

                <div class="form-group">
                    <label for="Name">Soyadı:</label>
                    <input type="text" id="Lastname" name="Lastname" class="form-control" value="${data.customername}" required />
                </div>

                <div class="form-group">
                    <label for="Material">Mail:</label>
                    <input type="text" id="Mail" name="Mail" class="form-control" value="${data.customermail}" required />
                </div>


                <div class="form-group">
                    <label for="Description">Açıklama :</label>
                    <textarea id="Description" name="Description" class="form-control" rows="3">${data.customerdescription}</textarea>
                </div>


                <div class="form-group">
                    <label for="Material">Telefon No:</label>
                    <input type="text" id="PhoneNumber" name="PhoneNumber" class="form-control" value="${data.customerphonenumber}" required />
                </div>

                <div class="form-group">
                    <label for="Material">Şifre:</label>
                    <input type="text" id="Password" name="Password" class="form-control" value="${data.customerpassword}" required />
                </div>

                <div class="form-group">
                    <label for="Status">Durum :</label>
                    <select id="Status" name="Status" class="form-control" data="${data.customerstatus}" required>
                        <option value="1" ${data.customerstatus == 'Approved' ? 'selected' : ''}>AKTİF</option>
                        <option value="2" ${data.customerstatus == 'Removed' ? 'selected' : ''}>KALDIRILDI</option>
                    </select>
                </div>

                <div class="form-group">
                    <input type="submit" value="Düzenle" class="btn btn-primary w-100" />
                </div>

            </form>
        `
    });
}

    function openYeniMusteriModal() {
        firstModal = $.dialog({
            title: 'Yeni Müşteri',
            content: `

<form method="post" action="@Url.Action("AddCustomer", "CustomerAdmin")">
    <div class="form-group">
        <label for="Name">Adı:</label>
        <input type="text" id="Name" name="Name" class="form-control" required />
    </div>

    <div class="form-group">
        <label for="Name">Soyadı:</label>
        <input type="text" id="Lastname" name="Lastname" class="form-control" required />
    </div>

    <div class="form-group">
        <label for="Mail">Mail:</label>
        <input type="mail" id="Mail" name="Mail" class="form-control" required />
    </div>

    <div class="form-group">
        <label for="PhoneNumber">Telefon No:</label>
        <input type="number" id="PhoneNumber" name="PhoneNumber" class="form-control" step="0.01" required />
    </div>

    <div class="form-group">
        <label for="Description">Açıklama :</label>
        <textarea id="Description" name="Description" class="form-control" rows="3"> </textarea>
    </div>

    <div class="form-group">
        <label for="Password">Şifre: </label>
        <input type="text" id="Password" name="Password" class="form-control" step="0.01" required />
    </div>

    <div class="form-group">
        <label for="Status">Durum :</label>
        <select id="Status" name="Status" class="form-control" required>
            <option value="1">AKTİF</option>
            <option value="2">KALDIRILDI</option>
        </select>
    </div>

    <div class="form-group">
        <input type="submit" value="Oluştur" class="btn btn-primary w-100" />
    </div>

</form>

`
        });

    }

    $(document).on('click', '.open-delete-modal', function () {
        openDeleteMusteriModal(this);
    });

    $(document).on('click', '.open-approve-modal', function () {
        openApproveMusteriModal(this);
    });

    $(document).on('click', '.open-edit-modal', function () {
        openEditMusteriModal(this);
    });

    $(document).on('click', '#openYeniMusteriModal', function () {
        openYeniMusteriModal();
    });

    $(document).on('submit', 'form', function (e) {
        e.preventDefault();
        var form = $(this);

        $.ajax({
            url: form.attr('action'),
            type: form.attr('method'),
            data: form.serialize(),
            success: function (response) {
                var message = response;
                mesajDialog = $.dialog({
                    title: 'İşlem Sonucu',
                    content: message,
                    closeButton: false
                });
                setTimeout(function () {
                    mesajDialog.close();
                    if (firstModal) {
                        firstModal.close();
                    }
                    takeCustomerData();
                }, 1500);
            },
            error: function (error) {
                alert("Başarısız");
            }
        });
    });
</script>
