@using EntityLayer.Concrete
@using Uretim_Takip.Dtos
@using System.ComponentModel
@using Newtonsoft.Json
@model CategoriesViewModel
@{
    ViewData["Title"] = "Kategoriler";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Kategori Listesi</h1>

@await Html.PartialAsync("_ScriptImports")


<div class="card">
    <div class="card-header">
        <h3 class="card-title">
            <i class="fas fa-cubes"></i>
            Kategoriler
        </h3>
    </div>

    <div class="card-body">

        <button class="btn btn-primary" onclick="openYeniKategoriModal()">Yeni Kategori</button>
        <br />

        <div id="categoryTable" class="table-responsive">
            <table id="categoryGrid" class="table table-bordered table-striped"></table>
        </div>

    </div>

</div>


<script>
    var firstModal = null;

    $(document).ready(function () {
        takeCategoryData();
    });

    function takeCategoryData() {
        var categoryGrid = $('#categoryGrid');

        if ($.fn.DataTable.isDataTable(categoryGrid)) {
            categoryGrid.DataTable().destroy();
            categoryGrid.empty();
        }

        $.ajax({
            url: '/CategoryAdmin/GetCategoryData',
            type: 'GET',
            dataType: 'json',
            success: function (response) {
                var data = response.$values;
                console.log(data);
                $('#categoryGrid').DataTable({
                    data: data,
                    columns: [
                        { data: 'id', title: 'ID', width: '4%' },
                        { data: 'name', title: 'Kategori Adı', width: '30%' },
                        {
                            data: 'status', title: 'Durum', width: '33%',
                            render: function (data) {
                                switch (data) {
                                    case 1:
                                        return 'AKTİF';
                                    case 2:
                                        return 'KALDIRILDI';
                                    default:
                                        return '';
                                }
                            }
                        },
                        {
                            data: null, title: '', width: '33%',
                            render: function (data, type, row) {
                                return '<button class="btn btn-primary open-edit-modal" ' +
                                    'data-categoryid="' + row.id + '" ' +
                                    'data-categoryname="' + row.name + '" ' +
                                    'data-categorystatus="' + row.status + '" ' + '">Düzenle</button>' +
                                    '<button class="btn btn-success open-approve-modal" ' +
                                    'data-categoryid="' + row.id + '" ' +
                                    'data-categorystatus="' + row.status + '">Onayla</button>' +
                                    '<button class="btn btn-warning open-delete-modal" ' +
                                    'data-categoryid="' + row.id + '" ' +
                                    'data-categorystatus="' + row.status + '">Kaldır</button>';
                            }
                        }
                    ],
                    paging: true,
                    lengthMenu: [10, 20, 30, 40, 50],
                    order: [[0, 'desc']],
                    responsive: true,
                    autoWidth: true,
                    width: '100%'
                });



                console.log(data);
            },
            error: function (error) {
                console.log(error);
            }
        });
    }


    function openApproveKategoriModal(button) {
    var data = button.dataset;
        firstModal = $.dialog({
        title: 'Kategori Onayla',
         content: `
            <!-- ${JSON.stringify(data)} -->
            <form method="post" action="@Url.Action("ApproveCategory", "CategoryAdmin")">

                <div class="form-group">
                    <label>Onaylamak istiyor musunuz ?</label>
                </div>

                <div class="form-group">
                    <input type="text" id="ID" name="ID" class="form-control" value="${data.categoryid}" required hidden />
                </div>

                <div class="form-group">
                    <input type="text" id="Status" name="Status" class="form-control" value="${data.categorystatus}" required hidden />
                </div>

                <div class="form-group">
                    <input type="submit" value="Onayla" class="btn btn-primary w-100" />
                </div>

            </form>
        `
    });
    }

    function openDeleteKategoriModal(button) {
    var data = button.dataset;
        firstModal = $.dialog({
        title: 'Kategori Sil',
         content: `
            <!-- ${JSON.stringify(data)} -->
            <form method="post" action="@Url.Action("DeleteCategory", "CategoryAdmin")">

                <div class="form-group">
                    <label>Kaldırmak istiyor musunuz ?</label>
                </div>

                <div class="form-group">
                    <input type="text" id="ID" name="ID" class="form-control" value="${data.categoryid}" required hidden />

                </div>

                <div class="form-group">
                    <input type="submit" value="Kaldır" class="btn btn-warning w-100" />
                </div>

            </form>
        `
    });
    }

    function openEditKategoriModal(button) {
    var data = button.dataset;
        firstModal = $.dialog({
        title: 'Kategori Düzenle',
         content: `
            <!-- ${JSON.stringify(data)} -->
            <form method="post" action="@Url.Action("EditCategory", "CategoryAdmin")">

                <div class="form-group">
                    <input type="text" id="ID" name="ID" class="form-control" value="${data.categoryid}" required hidden />
                </div>

                <div class="form-group">
                    <label for="Name">Firma Adı:</label>
                    <input type="text" id="Name" name="Name" class="form-control" value="${data.categoryname}" required />
                </div>

                <div class="form-group">
                    <label for="Status">Durum :</label>
                    <select id="Status" name="Status" class="form-control" data="${data.categorystatus}" required>
                        <option value="1" ${data.categorystatus == '1' ? 'selected' : ''}>AKTİF</option>
                        <option value="2" ${data.categorystatus == '2' ? 'selected' : ''}>KALDIRILDI</option>
                    </select>
                </div>

                <div class="form-group">
                    <input type="submit" value="Düzenle" class="btn btn-primary w-100" />
                </div>

            </form>
        `
    });
}

    function openYeniKategoriModal() {
        firstModal = $.dialog({
            title: 'Yeni kategori oluştur',
            content: `

<form method="post" action="@Url.Action("AddCategory", "CategoryAdmin")">
    <div class="form-group">
        <label for="Name">Kategori Adı:</label>
        <input type="text" id="Name" name="Name" class="form-control" required />
    </div>

    <div class="form-group">
        <label for="Status">Durum :</label>
        <select id="Status" name="Status" class="form-control" required>
            <option value="1">AKTİF</option>
            <option value="2">KALDIRILDI</option>
        </select>
    </div>

    <div class="form-group">
        <input type="submit" value="Oluştur" class="btn btn-primary w-100" />
    </div>

</form>

`
        });

    }


    $(document).on('click', '.open-delete-modal', function () {
        openDeleteKategoriModal(this);
    });

    $(document).on('click', '.open-approve-modal', function () {
        openApproveKategoriModal(this);
    });

    $(document).on('click', '.open-edit-modal', function () {
        openEditKategoriModal(this);
    });

    $(document).on('click', '#yeniUrunButton', function () {
        openYeniKategoriModal();
    });

    $(document).on('submit', 'form', function (e) {
        e.preventDefault();
        var form = $(this);

        $.ajax({
            url: form.attr('action'),
            type: form.attr('method'),
            data: form.serialize(),
            success: function (response) {
                var message = response;
                mesajDialog = $.dialog({
                    title: 'İşlem Sonucu',
                    content: message,
                    closeButton: false
                });
                setTimeout(function () {
                    mesajDialog.close();
                    if (firstModal) {
                        firstModal.close();
                    }
                    takeCategoryData();
                }, 1500);
            },
            error: function (error) {
                alert("Başarısız");
            }
        });
    });

</script>


